@model DashboardViewModel
@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    @if (Model.HasImage)
    {
        <svg>
            @Html.Raw(Model.ImageData)
        </svg>
    } 
    else
    {
        <h1 class="display-1">@Model.Characters</h1>
    }
</div>
