html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

h1, h3 {
    color: #000 !important;
}

h3 {
    font-weight: bold;
}

.subject-container {
    margin-top: 80px;
}

.reading {
    margin-bottom: -0.5rem !important;
}

.subject {
    font-size: 12em;
}

svg {
    height: 12em;
}